@media (max-width:450px){
  .post{
    width: 800px;
    font-size: 50px; 
    height: 11    00px; 
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    border: 2px solid;
  }
  .right{
    display: none;
  }
  .sidebar{
    display: none;
  }
}
/* this section is for the post section */
@media (max-width: 600px) {
    .post{
      width: 800px;
      font-size: 50px; 
      height: 11    00px; 
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
      border: 2px solid;
    }
    .main{
        display: block;
        font-size: 40px;
        font-size: 40px;
        border: 2px solid;
    }
    .maini{
        display: block;
        margin-left: 400px;
        font-size: 40px;
        border: 2px solid;

    }
    .post button{
        border: 2px solid;
        height: 60px;
        width: 300px;
        border-radius: 10px;
    }
    .dialog {
        font-size: 40px;
    }
    .post .imge{
        width: 100px;
        height: 100px;
    }
    .post .imga{
        height: 900px;
        width: 600px;
        object-fit: contain;
    }
    .post .posting{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
    }
    .right{
      display: none;
    }
    .sidebar{
      display: none;
    }
  }
  
  /* Small (Phones & Small Tablets) */
  @media(max-width: 768px) {
    .post{
        width: 800px;
        font-size: 50px; 
        height: 11    00px; 
        display: flex;
        justify-content: space-between;
        border: 2px solid;
      }
      .main{
        display: block;
        font-size: 40px;
        font-size: 40px;
        border: 2px solid;
    }
    .maini{
        display: block;
        margin-left: 400px;
        font-size: 40px;
        border: 2px solid;
    }
      .post button{
          border: 2px solid;
          height: 60px;
          width: 300px;
          border-radius: 10px;
      }
      .dialog {
          font-size: 40px;
      }
      .post .imge{
          width: 100px;
          height: 100px;
      }
      .post .imga{
          height: 900px;
          width: 600px;
          object-fit: contain;
      }
      .post .posting{
          margin-left: 0px;
          display: flex;
          flex-direction: column;
         
      }
      .right{
        display: none;
      }
      .sidebar{
        display: none;
      }
      
  }
  
  /* Medium (Tablets & Small Laptops) */
  @media(min-width: 768px) and (max-width: 992px) {
   .post{

    border: 2px solid;
    width: 600px;
    font-size: 30px;
   }
   .right{
border: 2px solid;
width: 300px;
margin-left: 200px;
font-size: 25px;
   }
 
  .post button{
      border: 2px solid;
      height: 60px;
      width: 100px;
      border-radius: 10px;

  }
  .sidebar{
    font-size: 30px;
  }
 
  }
  
  /* Large (Desktops & Large Tablets) */
  @media (min-width: 992px) and (max-width: 1200px) {
    .post{
        border: 2px solid;
        width: 600px;
        font-size: 30px;
       }
       .right{
    border: 2px solid;
    width: 300px;
    margin-left: 200px;
    font-size: 25px;
       }
     
      .post button{
          border: 2px solid;
          height: 60px;
          width: 100px;
          border-radius: 10px;
      }
      .sidebar{
        font-size: 30px;
      }
  }
  
  /* Extra Large (Big Screens) */
  @media (min-width: 1200px) {
    .right{
        border: 2px solid;
        width: 300px;
        margin-left: 200px;
        font-size: 25px;
           }
           .post{
            border: 2px solid;
            width: 600px;
            font-size: 30px;
           }
           .sidebar{
            font-size: 30px;
          }
  }



/* this section is for the right section */
/* Extra Small (Phones) */
@media (max-width: 600px) {
    .right{
      display:none;
    }
  }
  
  /* Small (Phones & Small Tablets) */
  @media (min-width: 600px) and (max-width: 768px) {
   .sidebar{
    display:none;
      height: 0px;
      width: 0px;
   }
  }
  
  /* Medium (Tablets & Small Laptops) */
  @media(min-width: 768px) and (max-width: 992px) {
    .right{
      display: block;
    }
  }
  

  